<p style="color: green"><%= notice %></p>
<p>
  <%= link_to "Back", groups_url %>
</p>
<h1>Entities</h1>

<div id="entities">
<p>Total Amount: <%= @group.transactions_sum %> </p>
  <% @entities.each do |entity| %>
    <%= render entity %>
    <p>
      <%= link_to "Show this entity", entity_path(id: entity.id) %>
    </p>
  <% end %>
</div>

<%= link_to "New entity", new_entity_path %>
